__TEMPLATE_HEADER__

<body>

<div id="app">

    <Transition>
        <section class="popup-main" @click.self.stop="closePopup()" v-if="showTeam" v-cloak>
            <div class="popup">

                <div class="close" @click.stop="closePopup()">&times;</div>

                <h2>Detailed Results</h2>

                <div>
                    <div
                        v-for="mon in teamPlayers.mons"
                        class="monicon"
                        :style="{ backgroundPosition: getSpritePos(mon) }"
                        :title="getMonData(mon).name"
                    ></div>
                </div>

                <p>{{ teamPlayers.fullTeamString }}</p>

                <div class="content-scroll">

                    <table id="player-team-info">
                        <thead>
                            <tr>
                                <th colspan="3">Place</th>
                                <th>Player</th>
                                <th></th>
                                <th>Event</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="player in teamPlayers.teams">
                                <td>{{ player.place }}</td>
                                <td>/</td>
                                <td>{{ player.players }}</td>
                                <td>
                                    <a :href="`https://standings.reportworm.com/${player.link}`"
                                        data-pass="1"
                                        target="_blank"
                                    >{{ player['name'] }}<div class="sm-icon ext-link-icon"></div></a>
                                    <em>{{ player.phase == "p2" ? "Phase Two" : "Top Cut" }}</em>
                                    <div v-if="player.team">
                                        <div
                                            v-for="mon in player.team"
                                            class="monicon"
                                            :style="{ backgroundPosition: getSpritePos(mon) }"
                                            :title="getMonData(mon).name"
                                        ></div>
                                    </div>
                                </td>
                                <td>
                                    <span 
                                        title="Official Event"
                                        v-if="!player['link'].startsWith('grassroots')" 
                                        v-cloak
                                    >&#9733;</span>
                                </td>
                                <td>
                                    <strong>{{ player.event }}</strong><br />
                                    <em>{{ player.link.startsWith('grassroots') ? 'Grassroots' : 'Official' }}</em>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </section>
    </Transition>

    <header id="header">
        <h1><a href="/">Reportworm Meta</a></h1>
    </header>

    <nav>
        <div class="tabgroup">
            <div>
                <strong><a href="/">Metagame Report</a></strong>
            </div>
            <div>
                <strong><a href="/faq">FAQ</a></strong>
            </div>
        </div>
    </nav>

    <p><em>Reportworm Meta</em> builds a snapshot of the current metagame based on results from teams that have made phase two of official events and top cut of certain online tournaments. The intent is to give an idea of what Pokemon are being used to the most success for best of three, open teamsheet tournaments.</p>

    <component
        :is="currentView"
        v-bind="currentProps"
        @sort-data="sortData"
        @show-team="showTeamPopup"
        @search-data="filterAllData"
    ></component>

    <h2 @click="toggleCredits()" id="creditsTitle">
        Credits 
        <span v-if="!showCredits" v-cloak>&#9656;</span>
        <span v-if="showCredits" v-cloak>&#9662;</span>
    </h2>

    <ul v-if="showCredits" v-cloak>
        <li><p>Programming and site design is by <a href="https://bsky.app/profile/mikew.reportworm.com" target="_blank">Mike W</a>, who you can find on BlueSky, I guess (I also have <a href="http://twitter.com/mikewVGC" target="_blank">a Twitter</a>). A few VGC projects (including this one) can be found <a href="https://github.com/mikewVGC" data-pass="1" target="_blank">on my Github</a>.</p></li>

        <li><p>Match data aggregated from <a href="https://rk9.gg" data-pass="1" target="_blank">RK9 Labs</a>, <a href="https://playlatam.net" target="_blank">playlatam</a>, and <a href="https://www.pokedata.ovh" target="_blank">Pokedata</a> for official events, and Battlefy and Limitless for grassroots events.</p></li>

        <li><p>The wonderful Reportworm logo is by <a href="https://twitter.com/Chufflepop" data-pass="1" target="_blank">Chufflepop</a>.</p></li>

        <li><p>Small sprites come from <a href="https://play.pokemonshowdown.com/" data-pass="1" target="_blank">Pokemon Showdown</a> (specifically the <a href="https://github.com/smogon/sprites" data-pass="1" target="_blank">smogon/sprites</a> repo).</p></li>

        <li><p>This site uses <a href="https://vuejs.org" data-pass="1" target="_blank">Vue.js</a> for the front-end. Flag icons provided by <a href="https://flagicons.lipis.dev" data-pass="1" target="_blank">Flag Icons</a>.</p></li>

        <li><p>Reportworm Meta proudly contains 0% AI generated code, and is made in New York. You can check out the <a href="https://github.com/mikewVGC/reportworm-meta" data-pass="1" target="_blank">the Github repo</a> if you're interested.</p></li>
    </ul>

    __TEMPLATE_FOOTER__

</div>

<template id="loading-template">

    <div id="loading">
        <h2>Loading Data</h2>
        <p>It'll be ready in just a moment...</p>
    </div>

</template>

<template id="report-template">

    <h2>The Metagame</h2>

    <div class="meta-info">
        <p><strong>Current Format:</strong> {{ info.format }}</p>

        <p><strong>Compiled:</strong> <em>{{ info.build }}</em></p>
    </div>

    <div class="meta-search">
        <input
            type="text"
            id="mon-filter"
            placeholder="Filter by Pokemon name(s)"
            @input="filterAllMons"
            :value="monsSearchStr"
        />
        <span
            v-if="monsSearchStr.length"
            @click="clearMonFilter"
            v-cloak
        >&times;</span>

        <div>
            <strong>Pro Tip:</strong> Search for multiple Pokemon to match narrow down your search.
        </div>
    </div>

    <div class="meta-layout">

        <h3>Most Successful Teams <span v-if="monsSearchStr.length" v-cloak>(Filtered)</span></h3>

        <div class="meta-table">

            <table id="meta-teams">
                <thead>
                    <tr>
                        <th class="sortable down"
                            data-column="count"
                            @click="sortTeams"
                        >Cut</th>
                        <th class="sortable"
                            data-column="total"
                            @click="sortTeams"
                        >Total</th>
                        <th class="sortable"
                            data-column="cutRate"
                            @click="sortTeams"
                        >Cut Rate</th>
                        <th colspan="3"
                            class="sortable"
                            data-column="wins"
                            @click="sortTeams"
                        >Record</th>
                        <th class="sortable"
                            data-column="winRate"
                            @click="sortTeams"
                        >Win Rate</th>
                        <th>Team</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="monData in metaTeamsData">
                        <td>{{ monData.count }}</td>
                        <td>{{ monData.total }}</td>
                        <td>{{ getPct(monData.cutRate) }}</td>
                        <td>{{ monData.wins }}</td>
                        <td>-</td>
                        <td>{{ monData.losses }}</td>
                        <td>{{ getPct(monData.winRate) }}</td>
                        <td>
                            <div class="team-container">
                                <div
                                    v-for="mon in monData.mons"
                                    class="monicon"
                                    :style="{ backgroundPosition: getSpritePos(mon) }"
                                    :title="getMonData(mon).name"
                                ></div>
                            </div>
                        </td>
                        <td>
                            <a href="" @click="showTeamPopup(monData)"><div class="sm-icon mag-icon"></div>Results</a>
                        </td>
                    </tr>
                    <tr v-if="!metaTeamsData.length">
                        <td colspan="9" class="no-match">Sorry, no teams match that criteria.</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <h3>Most Successful Mega Duos <span v-if="monsSearchStr.length" v-cloak>(Filtered)</span></h3>

        <div class="meta-table meta-half">

            <div v-for="monDataHalf, i in metaCoresData">
                <table class="meta-duos-half">
                    <thead>
                        <tr>
                            <th>Duo</th>
                            <th class="sortable down"
                                data-column="count"
                                @click="sortCores"
                            >Cut</th>
                            <th class="sortable"
                                data-column="total"
                                @click="sortCores"
                            >Total</th>
                            <th class="sortable"
                                data-column="cutRate"
                                @click="sortCores"
                                title="Cut Rate"
                            >CR</th>
                            <th colspan="3"
                                class="sortable"
                                data-column="wins"
                                @click="sortCores"
                            >Record</th>
                            <th class="sortable"
                                data-column="winRate"
                                @click="sortCores"
                            >WR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="monData in monDataHalf">
                            <td>
                                <a href="" @click="showTeamPopup(monData)">
                                    <div class="duo-container">
                                        <div
                                            v-for="mon in monData.mons"
                                            class="monicon"
                                            :style="{ backgroundPosition: getSpritePos(mon) }"
                                            :title="getMonData(mon).name"
                                        ></div>
                                    </div>
                                    <div class="sm-icon mag-icon"></div>Results
                                </a>
                            </td>
                            <td>{{ monData.count }}</td>
                            <td>{{ monData.total }}</td>
                            <td>{{ getPct(monData.cutRate) }}</td>
                            <td>{{ monData.wins }}</td>
                            <td>-</td>
                            <td>{{ monData.losses }}</td>
                            <td>{{ getPct(monData.winRate) }}</td>
                        </tr>
                        <tr v-if="!monDataHalf.length">
                            <td colspan="9" class="no-match">
                                <div v-if="i == 0">Sorry, no duos match that criteria.</div>
                                <div v-else>-</div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

        <h3>Most Successful Pokemon</h3>

        <div class="meta-table meta-half">

            <div v-for="monDataHalf in metaMonsData">
                <table class="meta-mons-half">
                    <thead>
                        <tr>
                            <th>Mon</th>
                            <th class="sortable down"
                                data-column="count"
                                @click="sortMons"
                            >Cut</th>
                            <th class="sortable"
                                data-column="total"
                                @click="sortMons"
                            >Total</th>
                            <th class="sortable"
                                data-column="cutRate"
                                @click="sortMons"
                                title="Cut Rate"
                            >CR</th>
                            <th colspan="3"
                                class="sortable"
                                data-column="wins"
                                @click="sortMons"
                            >Record</th>
                            <th class="sortable"
                                data-column="winRate"
                                @click="sortMons"
                                title="Win Rate"
                            >WR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="monData in monDataHalf">
                            <td>
                                <div
                                    v-for="mon in monData.mons"
                                    class="monicon"
                                    :style="{ backgroundPosition: getSpritePos(mon) }"
                                    :title="getMonData(mon).name"
                                ></div>
                            </td>
                            <td>{{ monData.count }}</td>
                            <td>{{ monData.total }}</td>
                            <td>{{ getPct(monData.count / monData.total) }}</td>
                            <td>{{ monData.wins }}</td>
                            <td>-</td>
                            <td>{{ monData.losses }}</td>
                            <td>{{ getPct(monData.wins / (monData.losses + monData.wins)) }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>

    <h2>Sourced Events</h2>

    <p>Data was aggregated from the following events (all viewable on <em><a href="https://standings.reportworm.com/" target="_blank" data-pass="1">Reportworm Standings</a></em>):</p>

    <div class="event-list">
        <template v-for="event in events">
        <a
            :href="`http://standings.reportworm.com/${event.year}/${event.code}`"
            data-pass="1"
            target="_blank"
        >
            <div>
                <strong>{{ event.year == 'grassroots' ? 'Grassroots' : 'Official' }} Event</strong>
                <div class="event-name">{{ event.name }}</div>
                <em>{{ event.date }}</em>
            </div>
            <div>
                <strong>Players</strong>
                <div class="player-count">{{ event.players }}</div>
            </div>
        </a>
        </template>
    </div>
    
</template>

<template id="faq-template">

    <h2>FAQ</h2>

    <p><strong>How do teams show up here?</strong></p>

    <p>Teams are taken from the most recent official and grassroots events in the same format (or regulation ruleset). Any team that makes it to Phase Two of an official tournament (Regional or International) or Top Cut in a grassroots tournaments is eligible to show up here, with preference being given to teams that cut more often.</p>

    <p><strong>What's "Top Cut"?</strong></p>

    <p>Most VGC tournaments are played in two phases. The first phase is <a href="https://en.wikipedia.org/wiki/Swiss-system_tournament" data-pass="1" target="_blank">Swiss-system</a> where every player plays agaist another player with the same record. At the end of Swiss, players with a specific record will make it to "Top Cut" which seeds these players into a single elimination bracket. Getting to Top Cut indicates excellent performance in the Swiss rounds.</p>

    <p><strong>What's "Phase Two"?</strong></p>

    <p>The Swiss portion of official VGC tournaments is usually broken up into two phases. In the first phase everyone who signed up for the tournament plays. The second phase is reserved for players who win a certain number of games, with the usual requirement that you can lose no more than two games in phase one (denoted by "X-2").</p>

    <p><strong>What about "cut rate"?</strong></p>

    <p>"Cut Rate" for each team is simply the total number of times a team made Phase Two or Top Cut divided by the total number of times that team was used across all tournaments. Simply put, it's the percentage of a team that made it to Phase Two (for official events) or Top Cut (for grassroots events).</p>

    <p>"Cut Rate" is not an entirelty accurate name given how teams from official events are considered, but I couldn't come up with something better.</p>

    <p><strong>Why are more teams included from official events?</strong></p>

    <p>Official events are usually larger than online events, and often attract the strongest players who are hoping to earn their Worlds invite. As such the teams that players bring to official events tend to push the overall meta forward much more, so they are weighted appropriately. Top Cutting a large grassroots event is still a great accomplishment, however!</p>

    <p><strong>Where does team data come from?</strong></p>

    <p>Team data ultimately comes from real tournaments hosted on <a href="https://play.limitlesstcg.com" data-pass="1" target="_blank">Limitless</a>, by <a href="https://victoryroad.pro" data-pass="1" target="_blank">Victory Road</a>, or real-life, official tournaments (denoted by a star).</p>

    <p><em><a href="https://standings.reportworm.com/" target="_blank" data-pass="1">Reportworm Standings</a></em> hosts all of this data, allowing you a central place to view teams, player matchups, and Pokemon usage in each tournament. Reportworm Meta brings all the data from different tournaments together into one place.</p>

</template>

__VUE__

<script type="module">
import { createApp } from 'vue';
import App from '__SCRIPT_FILE__';
export default App;
const app = createApp(App).mount('#app');

app.init();
</script>

</body>
</html>
